body {
    overflow: hidden; 
    /* background-image: url("../textures/map.png");
    background-repeat: no-repeat;
  background-size:100vw 100vh; */

}

#gameCanvas {
    
}

#healthRange {
    z-index: 1000;
}